<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="{{ "/assets/mv-app.js" | relative_url }}"></script>
  
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <style>

    h1 {
      --mv-property: title;
    }

    .mv-bar + main  [original-content] {
      display: none;
    }

    ul {
      --mv-property: item;
      --mv-list: true;
    }

    .mv-bar + main  li {
      display: none;
    }

    .mv-bar + main  [mv-list-item] {
      display: list-item;
    }

    ul > li:first-child {
      --mv-list-item: true;
    }

    
  </style>
</head>
